OPENAI_API_KEY=

# switch to "gpt-3.5-turbo" if you dont have access, but app may not contextualize as well
QUESTION_REFINER_AGENT_MODEL_NAME="gpt-4"
# "gpt-3.5-turbo" is sufficient but "gpt-4" will provide higher quality final answers
AGGREGATOR_STREAM_AGENT_MODEL_NAME="gpt-4"

# pinecone not implemented
# PINECONE_API_KEY=
# PINECONE_ENVIRONMENT=
# PINECONE_INDEX=
